.container {
  margin: 20px;
}
.containerView {
  display: flex;
}
.headerBtn {
  display: flex;
  align-items: center;
}
.headerBtn h3 {
  margin: 0px 10px;
  font-weight: normal;
  font-size: medium;
  background-color: #cfd2dc;
  padding: 2px 13px;
  border-radius: 12px;
}

.profileIcon {
  height: 25px;
  width: 25px;
  background-color: #e54065;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 10px;
}
.mailDetails {
  margin: 2px;
  font-size: 9px;

  line-height: 10px;
  color: #636363;
}
.mailDetails h3 {
  color: #706e6e;
  font-weight: normal;
  font-size: 12px;
}
.cardView {
  margin: 10px 0px;
  display: flex;
  border: 1.5px #cfd2dc solid;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.formDetail span {
  color: #636363;
  margin: 0px 0px 0px 5px;
  font-weight: 700;
}

.mailBodyView {
  margin: 10px 40px;
}
.mailBodyContainer {
  border: 1.5px #cfd2dc solid;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  margin-right: 30px;
}
.bodyProfileView {
  height: 55px;
  width: 55px;
  margin: 20px;
  font-size: x-large;
}
.bodyHeader {
  display: flex;
  align-items: center;
  margin-right: 70px;
}
.bodyHeader :nth-child(2) {
  flex: 1;
}
.mailBodyContentView {
  color: #706e6e;
  padding: 0px 70px 50px 90px;
  font-size: small;
}

.favBtn {
  margin: 0px 10px;
  font-weight: normal;
  font-size: small;
  padding: 2px 13px;
  border-radius: 12px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: #cfd2dc 1px solid;
}

.selectedFavBtn {
  margin: 0px 10px;
  font-weight: normal;
  font-size: small;
  padding: 2px 13px;
  border-radius: 12px;
  cursor: pointer;
  background-color: #e54065;
  color: white;
}
