.container {
  margin: 20px;
}
.containerView {
  display: flex;
  margin-top: 60px;
  width: 32%;
}
.headerBtn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  height: 60px;
  width: 100%;
  background-color: #f2f2f2;
}
.emptyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin-top: 10px;
  border: 1.5px #cfd2dc solid;
  border-radius: 5px;
  background-color: #ffffff;
  width: 100%;
}
.headerBtn h3 {
  margin: 0px 10px;
  font-weight: normal;
  font-size: medium;
  padding: 2px 13px;
  border-radius: 12px;
  cursor: pointer;
}

.marginAling {
  margin-top: 70px;
}

.mailBodyView {
  margin: 10px 40px;
}
.mailBodyContainer {
  border: 1.5px #cfd2dc solid;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  margin-right: 30px;
  width: 68%;
  right: 3px;
}
.bodyProfileView {
  height: 55px;
  width: 55px;
  margin: 20px;
  font-size: x-large;
}
.bodyHeader {
  display: flex;
  align-items: center;
  margin-right: 70px;
}
.bodyHeader :nth-child(2) {
  flex: 1;
}
.mailBodyContentView {
  color: #706e6e;
  padding: 0px 70px 50px 90px;
  font-size: small;
}

.favBtn {
  margin: 0px 10px;
  font-weight: normal;
  font-size: small;
  padding: 2px 13px;
  border-radius: 12px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: #cfd2dc 1px solid;
}

.selectedFavBtn {
  margin: 0px 10px;
  font-weight: normal;
  font-size: small;
  padding: 2px 13px;
  border-radius: 12px;
  cursor: pointer;
  background-color: #e54065;
  color: white;
}
